@charset "utf-8";
/* CSS Document */

h1{ text-align:center;
	color:#FF0000;

}

.enlace {
  border: 0;
  padding: 0;
  background-color: transparent;    
  color: blue;
  border-bottom: 1px solid blue;
}
 form{
 	color:#CCCCCC
 }
 
